**/testData/** linguist-vendored
*Generated.java linguist-generated=true
*.kt.txt linguist-language=Kotlin
*.klib_abi.txt linguist-language=Kotlin
* text=auto
* eol=lf
*.png binary
*.jar binary
compiler/cli/bin/* eol=lf
compiler/cli/bin/*.bat eol=crlf
gradlew.bat eol=crlf
compiler/testData/** eol=auto
*.jpg filter=lfs diff=lfs merge=lfs -text
二进制库文件 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
压缩包 filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
安装包 filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
数据文件 filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
大文档 filter=lfs diff=lfs merge=lfs -text
